/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 26, 2018, 7:00:55 PM
    Author     : Dhanush
*/

#controlPane{
    -fx-opacity: 0.3;
}

#controlPane:hover{
    -fx-opacity: 1;
}

#seeker{
    -fx-opacity: 0.1;
}

#seeker:hover{
    -fx-opacity: 1;
}

#seeker > .thumb{
    -fx-background-color: transparent;
}

#seeker > .track{
    -fx-background-color: linear-gradient(to right, #FFFFFF 0%, #606060 0%);
}

